{% extends 'base.html' %}

{% block header %}
    <title>登录</title>
{% endblock %}

{% block bodey %}
    {% if msg %}
        <div><span style="color:red;">{{msg}}</span></div>
    {% endif %}
    <form action="{{ url_for('account.login') }}" method="post" name="login">
        {{form.hidden_tag()}}
        <p>
            邮箱:{{form.email(size=40)}}<br>
            {% for error in form.errors.email %}
                <span style="color:red;">{{error}}</span>
            {% endfor %}
        </p>
        <p>
            密码:{{form.pwd(size=40)}}<br>
            {% for error in form.errors.pwd %}
                <span style="color:red;">{{error}}</span>
            {% endfor %}
        </p>
        <p>{{form.remember_me}} 下次自动登录</p>
        <p><input type="submit" value="登录"> <a href="/account/findpwd">忘记密码</a></p>
    </form>
{% endblock %}
